@import "tailwindcss";

@keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@font-face {
    font-family: 'Play Pretend';
    src: url('/fonts/PlayPretend.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.ptrl-logo {
    font-family: 'Play Pretend', sans-serif;
}

.animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f105;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5858ed00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f9a13c98;
}